$ts_font_color: #213F51;
$ts_lavender: #8896CB;
$ts_mid-gray: #8d9aad;
/*Secondary Colors*/

$tan_yellow: #F3C300;

$ts_blue: #28AEE4;
$ts_orange: #EFB251;
$ts_teal: #61B5A5;
$ts_light-gray: #F7F7F7;

