/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import "../base/colors";
@import "../base/font";


/* HomePage HERO  */
#hp-hero-section {
  #hp-title-row {
    margin: -50px auto 0;
  }

  #hero-title {
    h4 {
      font-weight: 400 !important;
      @include demi-bold($monts, .8);
      margin: 0 0 0 40px;
    }

    h2 {
      @include demi-bold($monts, 1);
      letter-spacing: -1px;
      margin: 0 0 0 40px;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 30px;
      height: 49px;
      left: -15px;
      top: 2px;
      background: url("../images/E_Hallmark.svg") no-repeat center center;
      background-size: cover;
    }
  }
}

/*** Responsive Styles In-Between Desktop ***/
@media all and (min-width: 980px) and (max-width: 1245px) {
  #hp-hero-section {
    #hp-title-row {
      margin: 30% auto 0 7vh;
    }
  }
}

@media all and (min-width: 1095px) and (max-width: 1244px) {
  #hp-hero-section {
    #hp-title-row {
      margin: 27% auto 0 10vw !important;
    }
  }
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
  #hp-hero-section {
    #hp-title-row {
      margin: 24% auto 0 14%;
    }
  }
}

/* END HomePage HERO  */

/*NEW VERSION SINGLE LINE TILE APR-13*/
.hero-section-single-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .hero-title-row {
    .hero-title-block {

    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .hero-section-single-line {
    display: block;
    .hero-title-row {
      padding-top: 5vh !important;
      .hero-title-block {

      }
    }
  }
}
/*  END  NEW VERSION SINGLE LINE TILE APR-13   */

/*     About Us page    */
#about_us-hero-section {
  #hero-title {
    h2 {
      font-size: 60px !important;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 45px;
        height: 74px;
        left: -65px;
        top: -17px;
        background: url("../images/E_Hallmark.svg") no-repeat center center;
      }
    }
  }
}


/*Our Companies hero section*/
#our_companies-hero-section {
  #hero-title {
    h2 {
      font-size: 60px !important;
      padding: 0 0 0 60px;
      width: 110%;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: url("../images/E_Hallmark.svg") no-repeat left center;
    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  /*     About Us page    */
  #about_us-hero-section {
    display: block;

    #hero-title {
      margin: -30px 0 0;
      h2 {
        font-size: 40px !important;
        text-align: center;
        padding: 0 0 0 40px;
        background: url("../images/E_Hallmark.svg") no-repeat left center;
      }
    }
  }
  #our_companies-hero-section {
    display: block;

    #hero-title {
      margin: -70px 0 0;
      h2 {
        font-size: 40px !important;
        padding: 0 0 0 60px;
        width: 110%;
        height: 100px;
        background: url("../images/E_Hallmark.svg") no-repeat left center;
      }
    }
  }
}

/* END HERO TITLE BLOCK */

/*SUB-TITLE SECTION'S TITLE*/
.sub-title-section {
  background: rgb(33, 63, 81);
  background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
  background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  p {
    color: #fff;
  }
}

.sub-title-block {
  h2 {
    @include demi-bold($opens, 3);
    color: #fff;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108px;
      height: 108px;
      left: -55px;
      top: -48px;
      background: url("../images/corner.svg") no-repeat top left;
    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .sub-title-block {
    h2 {
      @include demi-bold($opens, 2.5);
      color: #fff;
      text-align: center;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        left: -10px;
        top: -18px;
        background: url("../images/corner.svg") no-repeat center center;
        background-size: cover;
      }
    }
  }
}


/* END SUB-TITLE SECTION'S TITLE*/

/*SECTION'S TITLE BLOCK*/
.section-title-row {
  .section-title-block {
    padding: 100px 0 0;
    &::before {
      content: '';
      display: block;
      width: 47px;
      height: 82px;
      position: absolute;
      top: -20px;
      left: calc(50% - 24px);
      background: url("../images/Agency_E_Hallmark.svg") no-repeat center center;
    }
  }
}
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .section-title-row {
    .section-title-block {
      padding: 60px 0 0;
      &::before {
        width: 33px;
        height: 58px;
        position: absolute;
        top: -20px;
        left: calc(50% - 24px);
        background: url("../images/Agency_E_Hallmark.svg") no-repeat center center;
        background-size: cover;
      }
    }
  }
}


/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
  .tan-logo-row {
    height: 250px;
    .et_pb_image {
      position: absolute;
    }
  }
  .agency-description-row {
    .et_pb_column:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 80%;
        right: -30px;
        top: 10%;
        background: #fff;
      }
    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  .tan-logo-row {
    height: 230px;

    .et_pb_image {
      position: absolute;
    }
  }
}


#beyond-basics-section {
  background: rgb(33, 63, 81);
  background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
  background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  .bb-first-row,
  .bb-third-row {
    .txt-block {
      height: 230px;
      h5 {
        padding: 0 0 20px;
      }
    }
  }
}
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  #beyond-basics-section {
    .bb-first-row,
    .bb-third-row {
      .txt-block {
        height: auto;
        h5 {
          padding: 0 0 20px;
        }
      }
    }
  }

}


/*  END   About Us page    */


/*    OUR COMPANIES PAGE    */
#our-companies-section {
  .company-holder-row {
    position: relative;
    border: 4px solid $ts_lavender;
    margin: 0 auto 120px;

    &.oc-proximyl {
      padding: 120px 40px 40px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 374px;
        height: 97px;
        background: url(../images/oc_proximyl_logo.jpg) no-repeat center center;
        top: -50px;
        left: calc(50% - 182px);
      }
    }

    &.oc-thewhyse {
      padding: 120px 40px 40px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 264px;
        height: 174px;
        background: url(../images/oc_thewhyse_logo.jpg) no-repeat center center;
        top: -87px;
        left: calc(50% - 132px);

      }
    }

    &.oc-hra {
      padding: 120px 40px 40px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 332px;
        height: 140px;
        background: url(../images/oc_hra_logo.jpg) no-repeat center center;
        top: -70px;
        left: calc(50% - 166px);

      }
    }

    &.oc-medstro {
      padding: 120px 40px 40px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 332px;
        height: 140px;
        background: url(../images/oc_medstro_logo.jpg) no-repeat center center;
        top: -67px;
        left: calc(50% - 166px);

      }
    }

    &.oc-mkt {
      padding: 120px 40px 40px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 332px;
        height: 110px;
        background: url(../images/oc_mkt_logo.jpg) no-repeat center center;
        top: -55px;
        left: calc(50% - 166px);

      }
    }

  }
}
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  #our-companies-section {
    .company-holder-row {
      margin: 0 auto 100px;

      &.oc-proximyl {
        padding: 70px 20px 40px;

        &::before {
          width: 220px;
          height: 64px;
          background-size: cover;
          top: -32px;
          left: calc(50% - 110px);
        }
      }

      &.oc-thewhyse {
        padding: 70px 20px 40px;

        &::before {
          width: 150px;
          height: 116px;
          background-size: cover;
          top: -58px;
          left: calc(50% - 75px);

        }
      }

      &.oc-hra {
        padding: 70px 20px 40px;

        &::before {
          width: 198px;
          height: 94px;
          background-size: cover;
          top: -47px;
          left: calc(50% - 99px);

        }
      }

      &.oc-medstro {
        padding: 70px 20px 40px;

        &::before {
          width: 198px;
          height: 90px;
          background-size: cover;
          top: -45px;
          left: calc(50% - 99px);

        }
      }

      &.oc-mkt {
        padding: 70px 20px 40px;

        &::before {
          width: 198px;
          height: 74px;
          background-size: cover;
          top: -37px;
          left: calc(50% - 99px);

        }
      }

    }
  }
}
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  #oc-sub_hero-section {
    .sub-title-block h2::before {
      width: 48px;
      height: 48px;
      left: -12px;
      top: -20px;
    }
  }
}

/*  END  OUR COMPANIES PAGE    */

/*      LEADERSHIP PAGE     */

#leadership-title-section {
  background: rgb(33, 63, 81);
  background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
  background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
}
#leadership-subtitle-section {
  .sub-title-block {
    h2 {
      @include bold($opens, 2.4);
    }
  }
}

/*LEADERSHIP INFO SECTION*/
.leader-section {
  .leader-info-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .et_pb_module:not(:last-child) {
      padding: 0;
      margin: 0 0 25px;
    }
  }

  &.blue-section {
    background: rgb(33, 63, 81);
    background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
    background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);

    .leader-name {
      h3 {
        color: $tan_yellow;
      }
      p {
        color: #fff;
      }
    }
    .leader-quote p {
      color: #fff;
    }
  }

  &.white-section {
    .leader-name {
      h3 {
        color: $ts_lavender;
      }
    }

  }
}


/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
  /*LEADERSHIP INFO SECTION*/
  .leader-section {
    .leader-info-column {
      padding: 20px 0 40px;
      .et_pb_module {
        padding: 0;
      }
    }
  }

  #thought-leadership-section {
    .leadership-videos-row {
      .et_pb_ajax_pagination_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 0 60px;
        article {
          width: 22%;
          -webkit-box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
          box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
          .entry-title,
          .post-content {
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
  .leader-section {
    padding: 40px 0 0 !important;
  }

  #thought-leadership-section {
    .leadership-videos-row {
      .et_pb_ajax_pagination_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 0 60px;
        article {
          width: 100%;
          margin: 30px 0 0;
          -webkit-box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
          box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
          .entry-title,
          .post-content {
            padding: 10px 20px;
          }
        }
      }
    }
  }

}


/*   END   LEADERSHIP PAGE     */

/*      OUR WORK PAGE       */
#our-work-videos-section {
  .our-work-videos-holder-row {
    .et_pb_ajax_pagination_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 0 60px;
      article {
        width: 32%;
        margin: 20px 20px 0 0;
        border: 1px solid #ddd;
        -webkit-box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
        box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
        .entry-title,
        .post-content {
          padding: 0 20px 20px;
        }
      }
      article:nth-of-type(3n) {
        margin: 20px 0 0;
      }
    }
  }
}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
  #our-work-videos-section {
    .our-work-videos-holder-row {
      .et_pb_ajax_pagination_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 0 60px;
        article {
          width: 48%;
          margin: 20px 20px 0 0 !important;
        }
        article:nth-of-type(3n) {
          margin: 20px 20px 0 0 !important;
        }
        article:nth-of-type(2n) {
          margin: 20px 0 0 !important;
        }
      }
    }
  }
}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  #our-work-videos-section {
    .our-work-videos-holder-row {
      .et_pb_ajax_pagination_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 0 60px;
        article {
          width: 100%;
          margin: 20px 0 0 !important;
          border: 1px solid #ddd;
          .entry-title,
          .post-content {
            padding: 0 20px 20px;
          }
        }
      }
    }
  }
}

/*   END   OUR WORK PAGE       */



/*      WP CUSTOM PAGINATION      */
.wp-pagenavi {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  span,
  .larger,
  .smaller,
  .nextpostslink,
  .previouspostslink {
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid $tan_green-blue;
    color: $tan_green-blue;
    margin: 0 8px 0 0;
    text-align: center;
    font-weight: 600;
  }
  .last,
  .first {
    color: $tan_green-blue;
  }
  span,
  .larger,
  .smaller,
  .nextpostslink,
  .previouspostslink {
    &.current {
      border: 2px solid $ts_lavender;
      color: $ts_lavender;
    }
  }
}

/*   END   WP CUSTOM PAGINATION      */

/*      OUR CULTURE PAGE      */
#our-culture-ways-section {
  .our-culture-way-block {
    position: relative;
    padding: 90px 20px 20px;
    background: rgb(33, 63, 81);
    background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
    background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);

    h4 {
      color: $tan_yellow !important;
      @include bold($opens, 1.5);
    }
    p {
      color: #fff;
      @include regular($opens, 1);
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 125px;
      height: 125px;
      top: -63px;
      left: calc(50% - 62px);
    }
  }
}
#our-culture-ways-section {
  .culture-way-row-1 {
    margin: 60px auto 0;
    .et_pb_column:nth-child(1) {
      .our-culture-way-block {
        &:before {
          background: url("../images/icon-rocket.png") no-repeat center center;
        }
      }
    }
    .et_pb_column:nth-child(2) {
      .our-culture-way-block {
        &:before {
          background: url("../images/icon-lightning-bolt.png") no-repeat center center;
        }
      }
    }
  }

  .culture-way-row-2 {
    margin: 60px auto 0;
    .et_pb_column:nth-child(1) {
      .our-culture-way-block {
        &:before {
          background: url("../images/icon-start.png") no-repeat center center;
        }
      }
    }
    .et_pb_column:nth-child(2) {
      .our-culture-way-block {
        &:before {
          background: url("../images/icon-mentors.png") no-repeat center center;
        }
      }
    }

  }

  .culture-way-row-3 {
    margin: 60px auto 0;
    .et_pb_column:nth-child(1) {
      .our-culture-way-block {
        &:before {
          background: url("../images/icon-megaphone.png") no-repeat center center;
        }
      }
    }
    .et_pb_column:nth-child(2) {
      .our-culture-way-block {
        &:before {
          background: url("../images/icon-icecream.png") no-repeat center center;
        }
      }
    }

  }
}

/*   END   OUR CULTURE PAGE      */


/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
