/* HERO TITLE BLOCK */

/*Home page hero*/
#hp-hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

    #hero-title {
      h4 {
        font-weight: 400 !important;
      }

      h2 {
        letter-spacing: -1px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 45px;
        height: 74px;
        left: -65px;
        top: -1px;
        background: url("../images/E_Hallmark.svg") no-repeat center center;
      }
    }
}

/* END HERO TITLE BLOCK */


/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
  /* Redirect Buttons */
  /*
  .ts-btn {
    width: 305px;
  }
  */
  /*
  #ʕ•ᴥ•ʔ .wi-wn_row-holder div {
    &:first-child {
      div > div > p {
        text-align: center;
      }

      > div {
        margin-bottom: 0;
      }
    }

    &:nth-child(2) div > div > p {
      text-align: center;
      position: relative;
      padding: 40px 0 0;

      img {
        position: absolute;
        top: 0;
        left: calc(50% - 24px);
        transform: rotate(90deg);
      }
    }
  }
  */
}