@import "../base/colors";
@import "../base/font";

/* HERO TITLE BLOCK */

/*Home page hero*/
#hp-hero-section {
  #hero-title {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 45px;
      height: 74px;
      left: -65px;
      top: -1px;
      background: url("../images/E_Hallmark.svg") no-repeat center center;
    }
  }
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

    #hero-title {
      h4 {
        font-weight: 400 !important;
        @include demi-bold($monts, 1.75);
      }

      h2 {
        @include demi-bold($monts, 2.5);
        letter-spacing: -1px;
      }
    }
}

/*     About Us page    */
#about_us-hero-section {
  #hero-title {
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 45px;
      height: 74px;
      left: -65px;
      top: -17px;
      background: url("../images/E_Hallmark.svg") no-repeat center center;
    }

    h2 {
      font-size: 60px !important;
    }
  }
}

/* END HERO TITLE BLOCK */

/*SUB-TITLE SECTION'S TITLE*/
.sub-title-section {
  background: rgb(33, 63, 81);
  background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
  background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  p {
    color: #fff;
  }
}

.sub-title-block {
  h2 {
    @include demi-bold($opens, 3);
    color: #fff;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108px;
      height: 108px;
      left: -55px;
      top: -48px;
      background: url("../images/corner.svg") no-repeat top left;
    }
  }
}

/* END SUB-TITLE SECTION'S TITLE*/

/*SECTION'S TITLE BLOCK*/
.section-title-row {
  .section-title-block {
    padding: 100px 0 0;
    &::before {
      content: '';
      display: block;
      width: 47px;
      height: 82px;
      position: absolute;
      top: -20px;
      left: calc(50% - 24px);
      background: url("../images/Agency_E_Hallmark.svg") no-repeat center center;
    }
  }
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {
  .tan-logo-row {
    height: 290px;
    .et_pb_image {
      position: absolute;
    }
  }
  .agency-description-row {
    .et_pb_column:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 80%;
        right: -30px;
        top: 10%;
        background: #fff;
      }
    }
  }
}

#beyond-basics-section {
  background: rgb(33, 63, 81);
  background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
  background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
}

/*  END   About Us page    */

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
