/*  INSIGHTS PAGE   */


// Resources section and pages
.category-case-studies {
  .post-meta,
  .post-content {
    display: none;
  }
}

.single-post {
  .category-research {
    .et_post_meta_wrapper {
      display: none;
    }
  }

  // related content sidebar
  .category-case-studies {
    .et_pb_column.et-last-child {
      .et_pb_ajax_pagination_container {
        .category-our-work {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

#insights-research {
  .insights-research-view {
    background: transparent;
    .category-research {
      border: 1px solid #ddd !important;
      .et_pb_image_container {
        .entry-featured-image-url {
          display: block;
          position: relative;
          margin-bottom: 30px;
        }

        img {
          border-bottom: 1px solid #ddd !important;
          height: 200px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .insights-header {
    position: relative;
    display: block;
    margin: 0 auto !important;
    bottom: 0;
  }
}

@media only screen and (min-width: 981px) {
  .insights-header {
    position: absolute;
    display: block;
    top: 30%;
    left: 20%;
    bottom: 0;
  }
}
/* END INSIGHTS PAGE   */

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}
