@import "../base/colors";
@import "../base/font";

/* ******* HOMEPAGE 2023 START ******* */

/* HomePage HERO  */
#hp-hero-section {
  .hp_title_row,
  .et_pb_column,
  .et_pb_module,
  .et_pb_code_inner {
    height: 100%;
  }
  .hp_title_row {
    #hp_title_container {
      .top_part {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .e_sign {
          margin: 0 15px 0 0;
        }
      }

      .btm_part {
        width: 360px;
      }
    }
  }
}

@media all and (min-width: 1100px) {
  #hp-hero-section {
    height: 780px !important;

    .hp_title_row {
      #hp_title_container {
        position: absolute;
        top: calc(50% - 150px);

        .top_part {
          h1 {
            font-size: 28px !important;
            font-weight: 400 !important;
            line-height: 2rem;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1600px) {
  #hp-hero-section {
    height: 880px !important;
  }
}

@media all and (min-width: 980px) and (max-width: 1100px) {
  #hp-hero-section {
    height: 800px !important;
    .hp_title_row {
      #hp_title_container {
        position: absolute !important;
        /*top: calc(50% - 150px);*/
        /*top: 0;*/

        .top_part {
          h1 {
            /*font-size: 18px !important;*/
          }
        }
      }
      .et_pb_code_inner {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
}

@media all and (min-width: 748px) and (max-width: 767px) {
  #hp-hero-section {
    height: 800px !important;

    .hp_title_row {
      #hp_title_container {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        .top_part {
          h1 {

          }
        }
      }
    }
  }
}

@media all and (min-width: 748px) and (max-width: 980px) {
  #hp-hero-section {
    height: 430px !important;

    .hp_title_row {
      #hp_title_container {
        .top_part {
          h1 {

          }
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 980px) {
  #hp-hero-section {
    .hp_title_row {
      #hp_title_container {
        .top_part {

        }
        .btm_part {
          display: none;
        }
      }
    }

  }
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 767px) {
  #hp-hero-section {
    height: 480px !important;

    #hp_title_container {
      .top_part {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        h1 {
          font-size: 13px !important;
        }
      }
    }
  }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* HOMEPAGE 2023 END ******* */