@import "../base/colors";
@import "../base/font";

/* ******* OUR WORK PAGE 2023 START ******* */

#our-work-videos-section {
  .our-work-videos-holder-row {
    .et_pb_ajax_pagination_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0 0 60px;
      article {
        width: 32%;
        margin: 20px 20px 0 0;
        border: 1px solid #ddd;
        -webkit-box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
        box-shadow: 4px 7px 16px 0 rgba(204,204,204,1);
        .entry-title,
        .post-content {
          padding: 0 20px 20px;
        }
        h2 {
          @include regular($opens, 1.4);
        }
      }
      article:nth-of-type(3n) {
        margin: 20px 0 0;
      }
      .entry-featured-image-url {
        height: 180px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
      }
    }
  }
}

@media all and (max-width: 1024px) {
}
@media all and (min-width: 768px) and (max-width: 980px) {
  #our-work-videos-section {
    .our-work-videos-holder-row {
      .et_pb_ajax_pagination_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 0 60px;
        article {
          width: 48%;
          margin: 20px 20px 0 0 !important;
        }
        article:nth-of-type(3n) {
          margin: 20px 20px 0 0 !important;
        }
        article:nth-of-type(2n) {
          margin: 20px 0 0 !important;
        }
      }
    }
  }
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 767px) {
  #our-work-videos-section {
    .our-work-videos-holder-row {
      .et_pb_ajax_pagination_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 0 60px;
        article {
          width: 100%;
          margin: 20px 0 0 !important;
          border: 1px solid #ddd;
          .entry-title,
          .post-content {
            padding: 0 20px 20px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 576px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 320px) {
}

/* ******* OUR WORK PAGE 2023 END ******* */