@import "../base/colors";

/*  HOME PAGE   */

/*out-links section*/
#hp-out_links-section {
  background: rgb(33, 63, 81);
  background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
  background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);

  .hp-txt-btn {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 4px solid $ts_lavender;

    h3 {
      color: $ts_lavender;
    }

    p {
      color: #fff;
      font-size: 0.8rem !important;
      font-weight: 600 !important;
    }

    &:hover {
      background: $tan_yellow;
      border: 4px solid $tan_yellow;

      h3, p {
        color: $tan_green-blue;
      }

    }

  }

  .mobi-title-description-row {
    display: none;
  }
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
  #hp-out_links-section {
    .et_pb_column {
      margin: 40px 0 0 !important;
    }
    .mobi-title-description-row {
      display: block;
        p {
          color: #fff;
          padding: 40px 0 0;
          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 30px;
            height: 49px;
            left: calc(50% - 15px);
            top: -45px;
            background: url("../images/E_Hallmark.svg") no-repeat center center;
            background-size: cover;
          }
        }
    }
  }
}

/* END HOME PAGE   */


/*  2 MINUTES OF TRUTH VIDEOS POST  */
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 980px) {
  .category-2minutes-videos {
    #minutes2-top {
      height: 100px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    #min2-top-section {
      padding: 0;
      #min2-top-row {
        padding: 0;
      }
      .et_pb_code {
        margin-bottom: 0;
        padding-bottom: 0;
        svg {
          width: 100%;
        }
      }
    }
  }

}
/*  END 2 MINUTES OF TRUTH VIDEOS POST  */


/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) {

}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {

}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {

}

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {

}



