@import "../base/colors";

/*  HOME PAGE   */

/*out-links section*/
#hp-out_links-section {
  background: rgb(33, 63, 81);
  background: -o-linear-gradient(top, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 63, 81, 1)), to(rgba(7, 13, 16, 1)));
  background: linear-gradient(180deg, rgba(33, 63, 81, 1) 0%, rgba(7, 13, 16, 1) 100%);

  .hp-txt-btn {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 4px solid $ts_lavender;

    h3 {
      color: $ts_lavender;
    }

    p {
      color: #fff;
      font-size: 0.8rem !important;
      font-weight: 600 !important;
    }

    &:hover {
      background: $tan_yellow;
      border: 4px solid $tan_yellow;

      h3, p {
        color: $tan_green-blue;
      }

    }

  }
}

/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
  .et_pb_column {
    margin: 40px 0 0;
  }
}

/* END HOME PAGE   */

/*    ABOUT US PAGE   */


/*  END  ABOUT US PAGE   */

/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {

}

@media all and (max-width: 767px) {

}

/*Contact Page*/

#ts_form_wrapper {
  position: relative;
  &::before {
    content: '*Required field';
    position: absolute;
    left: 0;
    top: -10px;
    font-weight: 600;
  }
}

body #page-container .et_pb_section #ts_contact_form {
  .et_pb_button {
    width: 335px;
    margin: 40px auto 0;
    padding: 10px 90px;
  }

  .et_pb_contact .et_pb_contact_field_half:not(:last-of-type) {
    width: 33%;
    float: left;
    clear: initial;
  }

  .et_pb_button:hover {
    padding: 10px 90px !important;
  }

  .et_contact_bottom_container {
    float: none;
    clear: both;
  }
}

/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
  body #page-container .et_pb_section #ts_contact_form {
    .et_pb_contact .et_pb_contact_field_half:not(:last-of-type) {
      width: 50% !important;
      float: left;
      clear: initial;
    }
  }
}

@media all and (max-width: 767px) {
  body #page-container .et_pb_section #ts_contact_form .et_pb_button {
    width: 80%;
    padding: 10px 90px;
  }

  body #page-container .et_pb_section #ts_contact_form {
    .et_pb_contact .et_pb_contact_field_half:not(:last-of-type) {
      width: 100% !important;
      float: left;
      clear: initial;
    }
  }

  .join-our-team-section {
    .mjh-logo {
      .join-us-logo-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }
  }

}
/* END Contact Page*/

